<%= render 'shared/banner', background_image_url: image_path('movietheater.jpg') %>

<div class="container">
<div class="col">
<% @lists.each do |list| %>
<div class="card">
<%= list.name %>
<%= cl image_tag%>
<%= link_to "click", list_path(list) %>
<% end %>

</div>
</div>

</div>
<%= link_to "create a list", new_list_path %>
